* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /* Substitua "<weight>" pelo valor real, por exemplo, "bold" ou "normal" */
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  


.ion-padding{
    --ion-padding:0px;
  }


/*.grid-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}*/

.colImg {
    height: 98vh;
    background-color: #F6F5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

/*.container{
    display: block;
    text-align: center; 
    margin-top: auto; 
    margin-bottom: auto;
}*/

#imagem{
    width: 85%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40px;
    margin-right: 20px;
    
}

#introText{
    margin-left: 60px;
    margin-right: 20px;
}

.colBtt{
    height: 98vh;
    background-color: #748BA8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#buttons {
    display: block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
/*
#bttPac{
    color: #8C1C13;

}*/
