
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /* Substitua "<weight>" pelo valor real, por exemplo, "bold" ou "normal" */
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.ion-padding{
    --ion-padding:0px;
  }



/****TEXTO INICIAL***/

#introText{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    color: #000829;
    
}

.grid-container{
    background-color: #F6F5F8;
}

/*****IMAGEM*****/

.colImg {
    height: 98vh;
    background-color: /*#A7B6C8*/#F6F5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#imagem{
    width: 85%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40px;
    margin-right: 20px;
    
}



/*****BUTTONS AREA****/

.colBtt{
    height: 98vh;
    background-color: /*#A7B6C8*/#F6F5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#homeCard {
   
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    margin-left: 30px;
    background: #A7B6C8;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.34);

}

#loginTitle{
    display: block;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 4rem;
    
}
#loginTitleStyle {
    font-size: 23px;
    font-weight: 600;
    font-style: normal;
    color: #45424D;
    
}

#buttonsDiv {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
}

#rowPac{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*GERAL*/
.buttonPacMed{
    width: 20rem;
    --background:var(--ion-color-darkRed, #8C1C13);
    margin-top: 10px;
    margin-bottom: 10px;
}

#bttPac{
    margin-bottom: 15px;
}

#bttMed{
    margin-top: 15px;
}

/**OU**/
#lineText{
    display: flex;
    justify-content: center;
    align-items: center;
}

#linha_separacao{
    border-bottom: 1px solid gray; 
    width: 8rem; 
    margin-left: 10px ; 
    margin-right: 10px;
}



@media screen and (max-width: 1143px) {
    .colImg{
        height: 88vh;
        padding-bottom: 100px;
    }
    .colBtt{
        height: 68vh;
        
    }


    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
    }

    #imageContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #introText{
        order: 2;
        font-size: 34px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #imagem{
        order: 1;
        width: 60%;
        margin-top: 0px;
        margin-bottom: 15%;
    }

   #loginTitleStyle {
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    color: #45424D;
    
    }
 
    .buttonPacMed{
        font-weight: 400;
    }

}

@media screen and (max-width: 810px) {
    .colImg{
        height: 68vh;
        padding-bottom: 100px;
    }
    .colBtt{
        height: 68vh;
        
    }

    #introText{
        font-size: 27px;
    }

   
}
@media screen and (max-width: 630px){
    .colImg{
        height: 48vh;
        padding-bottom: 100px;
    }
    .colBtt{
        height: 51vh;
        
    }
    #introText{
        font-size: 20px;
    }
    
    #homeCard {
   
        width: 25rem;
        height: 25rem;
    }

    #loginTitleStyle {
        font-size: 20px;
        
    }
}

@media screen and (max-width: 470px){
    #introText{
        font-size: 17px;
    }

    #homeCard {
   
        width: 23rem;
        height: 23rem;
    }

    #loginTitleStyle {
        font-size: 20px;
        
    }
    
    .buttonPacMed{
        font-size: 12px;
    }
}