
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /* Substitua "<weight>" pelo valor real, por exemplo, "bold" ou "normal" */
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  

#introText{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    color: #000829;
}
.ion-padding{
    --ion-padding:0px;
  }


/*****IMAGEM*****/

.colImg {
    height: 98vh;
    background-color: /*#A7B6C8*/#F6F5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#imagem{
    width: 85%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40px;
    margin-right: 20px;
    
}

#introText{
    margin-left: 60px;
    margin-right: 20px;
}

/*****BUTTONS AREA****/

.colBtt{
    height: 98vh;
    background-color: /*#A7B6C8*/#F6F5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}


#loginTitle{
    display: block;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 4rem;
}

#homeCard {
   
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: /*#F6F5F8*//*#E9E7EE*/#A7B6C8;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.34);

}

#rowPac{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonsDiv {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
}

.buttonPacMed{
    width: 20rem;
    --background:var(--ion-color-darkRed, #8C1C13);
    margin-top: 10px;
    margin-bottom: 10px;
}

#bttPac{
    margin-bottom: 15px;
}

#bttMed{
    margin-top: 15px;
}

#lineText{
    display: flex;
    justify-content: center;
    align-items: center;
}

#linha_separacao{
    border-bottom: 1px solid gray; /* Estilo da linha */
    width: 8rem; 
    margin-left: 10px ; 
    margin-right: 10px;
}
