* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /* Substitua "<weight>" pelo valor real, por exemplo, "bold" ou "normal" */
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  


/*.toolBar {
    background-color: #254875 ;
}*/
.homeTitle {
    color: aliceblue;
    font-size: large;
    padding-left: 4rem;
}

.grid-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem{
    width: 85%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    
}