
#contentPrinc{
  --background:var(--ion-color-powderBlue, #A7B6C8);

}

#avatarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
    width: 100%;
    margin-top: 20px; 

}

#avatarIcon {
    font-size: 300rem; 
    color: #3498db; 

}

.infoItemContainer {
    background-color: #f9f9f9; /* Cor de fundo */
    border-radius: 8px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento inferior */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.infoItem {
    margin: 0; /* Remove margens padrão */
    font-size: 16px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}

.infoItem strong {
    color: #c0392b; /* Cor vermelho clarinho para o texto forte (negrito) */
}

#buttonsContainer {
    display: flex; /* Faz os botões ficarem lado a lado */
    justify-content: space-around; /* Distribui os botões igualmente no espaço disponível */
    margin-top: 100px; /* Espaçamento superior dos botões */
    margin: 150px; /* Espaçamento entre os botões */
    margin-bottom: 10px; 

    
;}

.customButton {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.34); /* Adiciona sombra ao botão */
  color: white; /* Altera a cor do texto para branco */
  margin-right: 100px; /* Espaçamento entre os botões */
  --background:var(--ion-color-darkRed, #8C1C13);
  font-weight: bold; /* Ajusta a espessura do texto para negrito */
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer; 
  letter-spacing: 3px;  /* espacamento entre as letras*/
  outline: none;

}

#descriptionContainer {
    background-color: #000829; /* Cor de fundo branca */
    border-radius: 20px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    margin-top: 40px; /* Espaçamento superior */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.34); /* Sombra */

}