.dados-paciente {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #e4e3e3; 
  }
  
  #perfilTbar {
    --background: var(--ion-color-oxfordBlue, #000829);
    background-color: var(--background); 
    color: #fff; 
  }
  #perfilTbar ion-title {
    font-size: 22px; 
    font-weight: bold; 
    margin-left: 10px; 
  }
  
  #perfilTbar ion-avatar img {
    border-radius: 50%; /* Torna a imagem do avatar redonda */
    width: 60px; 
    height: 60px; 
  }
  
  .container-perfilpp{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #748BA8;
    }
  
  .dadosPP {
    border: 2px solid #e1e1e1; 
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento superior */
    background-color: #e1e1e1;
  }
  
  .buttonExamePP{
    width: 15rem;
    --background:var(--ion-color-darkRed, #8C1C13);
  }
  .ion-text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    ion-input,
    ion-label {
      margin-bottom: 15px;
    }
    
  
    ion-button {
      margin-top: 15px;
    }
  
    ion-button[href='/perfil-adm'] {
      margin-right: 10px;
    }
  
    ion-radio-group ion-label {
      margin-right: 10px;
    }
  
    ion-radio {
      margin-right: 5px;
    }

    
  #contentPrinc{
    --background:var(--ion-color-powderBlue, #A7B6C8);
  
  }
  
  #avatarContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 10px; 
      margin-top: 20px;
  }
  
  #avatarIcon {
      font-size: 100rem; 
      color: #3498db; 
  
  }
  #infoContainer{
    margin-top: 50px;
    margin-right: 40px;
  }
  .infoItemContainer {
      background-color: #f9f9f9; 
      border-radius: 8px; 
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .infoItem {
      margin: 0; 
      font-size: 15px; 
      color: #333;
  }
  
  .infoItem strong {
    color: #4e4e4e; 
    font-weight: normal;
}
  
  .customButton {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.34); 
    color: white;
    margin-right: 215px; 
    margin-left: 215px; 
    --background:var(--ion-color-darkRed, #8C1C13);
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
    outline: none;
    justify-content: center;
  }
  .customButton2 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.34); 
    color: white;
    margin-right: 215px; 
    --background:var(--ion-color-darkRed, #8C1C13);
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
    outline: none;
    justify-content: center;
  }

  #buttonsContainer {
      display: flex; 
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  #descriptionContainer {
      background-color: #000829; 
      border-radius: 20px; 
      padding: 20px; 
      margin-top: 40px; 
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.34); 
      justify-content: flex-start;
  }
  