* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /* Substitua "<weight>" pelo valor real, por exemplo, "bold" ou "normal" */
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


.colBtt{
    height: 100vh;
    background-color: #748BA8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}