
#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Isso garante que a página ocupe toda a altura da tela */
  }


.ion-text-end {
  font-size: 30px; /* Defina o tamanho da fonte desejado */
}


.dados-paciente {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #e4e3e3; 
}
#dado {
  font-size: 15px; 
  font-weight: bold; 
}


.container-title {
  margin-bottom: 30px;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal; 
  font-style: normal;
  --background: var(--ion-color-oxfordBlue, #000829); /* Cor de fundo */
  color: rgb(255, 255, 255);
  background-color: var(--background); 
}


#txt-register {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  color: #bababa;
  text-align: left; /* Alinhando o texto à esquerda */
}


.dados-register{
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 2px solid #d5d5d5;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.buttonRegister{
  width: 10rem;
  --background:var(--ion-color-darkRed, #8C1C13);
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #748BA8;
}



#perfilTbar {
  margin-bottom: 30px;
  --background: var(--ion-color-oxfordBlue, #000829);
  background-color: var(--background); 
  color: #fff; 
}
#perfilTbar ion-title {
  font-size: 22px; 
  font-weight: bold; 
  margin-left: 10px; 
}

#perfilTbar ion-avatar img {
  border-radius: 50%; /* Torna a imagem do avatar redonda */
  width: 60px; 
  height: 60px; 
}

.container-perfilpp{
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #748BA8;
  }

.dadosPP {
  border: 2px solid #494949; /* Borda sólida de 2px em azul */
  border-radius: 6px;
  padding: 20px; /* Espaçamento interno */
  margin-top: 20px; /* Espaçamento superior */
  background-color: #e1e1e1;
}

.buttonExamePP{
  width: 15rem;
  --background:var(--ion-color-darkRed, #8C1C13);
}
.ion-text-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  ion-input,
  ion-label {
    margin-bottom: 15px;
  }
  

  ion-button {
    margin-top: 15px;
  }
  
  ion-button[href='/perfil-adm'] {
    margin-right: 10px;
  }

  ion-radio-group ion-label {
    margin-right: 10px;
  }

  ion-radio {
    margin-right: 5px;
  }
  

