
#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Isso garante que a página ocupe toda a altura da tela */
  }


.ion-text-end {
  font-size: 30px; 
}


#dado {
  font-size: 15px;
  font-weight: bold;
  color: #a09f9f; 
}


.container-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal; 
  font-style: normal;
  --background: var(--ion-color-oxfordBlue, #000829); /* Cor de fundo */
  color: rgb(255, 255, 255);
  background-color: var(--background); 
  height: 50px;
}


#txt-register {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  color: #bababa;
  text-align: left; /* Alinhando o texto à esquerda */
}


.dados-register {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.buttonRegister{
  width: 10rem;
  --background:var(--ion-color-darkRed, #8C1C13);
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #748BA8;
}


